/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.row {
	height: 100%;
}
#map {
	height: 100%;
}

.container-fluid {
	height: 900px;
	height: 100vh;

}


.filter-checkbox {
	margin: 0 0 20px 40px;
}

.img-div {
	margin: 0 15px;
	border-radius: 15px;
	width: 100%;
}
.place-entry {

}
.side-25 {
	width: 25%;
	float: left;
	position: relative;
	padding: 0 15px;
	min-height: 1px;
}

.side-75 {
	width: 75%;
	float: right;
	position: relative;
	padding: 0 15px;
	min-height: 1px;
}
.sidebar-brand {
	height: 65px;
    font-size: 18px;
    line-height: 60px;
    text-indent: 20px;
}
.place-name {
	display: block;
    text-decoration: none;
    color: #999999;
    text-indent: 20px;
    line-height: 40px;
}

.place-name:hover {
	text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.place-name:active,
.place-name:focus{
	text-decoration: none;
}
.rating-large {
	float: right;
	display: inline;
	margin: 0 10px 0 0;
	padding: 20px;
	background: blue;
	color: #fff;
	border-radius: 25px;
	transform: translate( 0px, -40px);
}

.reviews {
	line-height: 18px;
	text-decoration: none;
	padding: 0 0.5em 0 0;
	transition: all 0.5 ease;
}





.infowindow-image {
	float: left;
}

h4 {
	display: inline;
}

.rating {
	display: inline;
	float: right;
	margin: 8px;
}

#radio {
	margin: auto 3px;
	flex-grow: 1;
}

#radio-button-bar {
	display: none;
}
.radio-button {
	margin: 18px 2px 18px 18px;
	color: #999;
	flex-grow: 1;
	transition: all 0.5 ease;
}

.radio-button:hover,
.radio-button:active,
.radio-button:focus {
	color: #fff;
}


@media screen and (max-width: 768px) {
	#radio-button-bar{
		display: block;
		display: flex;
		flex-wrap: wrap;
	}
	.side-25 {
		width: 34%;
		padding: 0 15px;
	}

	.side-75 {
		width: 64%;
		padding: 0 15px;
	}

}